<header class=" shadow-2xl h-[7vh] flex justify-between px-[16vw]">
    <div class="flex ">
        <img class="w-[22px] h-[22px] mt-[32px] mr-2" src="../../assets/trello.png" alt="">
        <div class="my-auto">
            <p class="text-[11px] text-blue-500 font-bold ">ATLASSIAN</p>
            <h1 role="button" routerLink="/"  class="cursor-pointer leading-4 font-extrabold text-[28px]">Trello</h1>
        </div>
        <div class="ml-4 my-auto">
            Features
        </div>
        <div class="ml-4 my-auto">
            Solutions
        </div>
        <div class="ml-4 my-auto">
            Plans
        </div>
        <div class="ml-4 my-auto">
            Pricing
        </div>
        <div class="ml-4 my-auto">
            Resources
        </div>

    </div>
    <div class="my-auto">
        <button routerLink="login" class="bg-blue-500 text-white px-4 py-1 rounded-[100px] mr-4">sign in</button>
        <button routerLink="register" class="bg-blue-500 text-white px-4 py-1 rounded-[100px]">Sign up</button>
    </div>
</header>