<section class="w-[400px] h-[600px]  mx-auto mt-[70px] flex flex-col justify-around items-center">
    <div class="flex ">
        <img class="w-[22px] h-[22px]  mr-2" src="../../assets/trello.png"  alt="">
        <h2 class="leading-4 font-extrabold text-[28px]">Trello</h2>
    </div>
    <form class=" h-[80%] w-[70%] flex flex-col justify-around">
        <div>
            <label class="block text-[20px]" for="email">First Name:</label>
            <input class=" px-3 border-[2px] border-gray-500 rounded-sm mt-4 w-full"  placeholder="Enter email" type="text" >
        </div>
        <div>
            <label class="block text-[20px]" for="email">Laste Name:</label>
            <input class=" px-3 border-[2px] border-gray-500 rounded-sm mt-4 w-full"  placeholder="Enter email" type="text" >
        </div>
        <div>
            <label class="block text-[20px]" for="email">Email Address:</label>
            <input class=" px-3 border-[2px] border-gray-500 rounded-sm mt-4 w-full"  placeholder="Enter email" type="email" >
        </div>
        <div >
            <label class="block text-[20px]" class="block" for="password">Password:</label>
            <input class=" px-3 border-[2px] border-gray-500 rounded-sm mt-4 w-full" placeholder="Enter password" type="password" >
        </div>
        <div >
            <label class="block text-[20px]" class="block" for="password">Confirm Password:</label>
            <input class=" px-3 border-[2px] border-gray-500 rounded-sm mt-4 w-full" placeholder="Enter password" type="password" >
        </div>
         
        <div class="mx-auto"><button class="bg-blue-500 text-white px-4 py-1 rounded-[100px] mr-4">Register</button></div>
    </form>
</section>
